[flake8]
exclude=migrations
import-order-style = google
ignore=Q000,AZ100,AZ200,I100,I202,N803,E704,F401,F821,W503,E501
enable-extensions=flake8-alphabetize,flake8-comprehensions,flake8-quotes,pep8-naming,flake8-import-order